{% load static %}
<!doctype html>
<html>
    <head>
        <title>About Us</title>
        <link rel="icon" href="{% static 'images/icon-logo.png' %}" type="image/icon type">
        <link rel = "stylesheet" href="{% static 'styles/about.css' %}" type="text/css">
        <script src="https://kit.fontawesome.com/6cd93c1d95.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="body">
            <div class="sidenav">
                <li><a href= "/">Home</a></li>
                <li><a href= "/institute">Institute</a></li>
                <li><a href= "/about">About Us</a></li>
                <li><a href= "Contact">Contact</a></li>
                <li><a href= "/login">Sign In</a></li>
                <a href="#">Facilities</a>
                <a href="#">Programs</a>
                <a href="#">Job Ready Learning Skills</a>
                <a href="#">Placement</a>
                <div class="fixed">
                    <div classs="container">
                        <li><a href="https://www.facebook.com/AdaniOnline/"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/AdaniOnline?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCE9B3d2_VpNZ2KupqxjyxQA"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/adani-group/?originalSubdomain=in"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/adanionline/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>      
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="defaultimg">
                    <img src="{% static 'images/adani1.jpeg' %}" style="width:100%">
                </div> 
                <div>
                    <blockquote>Education is essential for eradicating poverty, it empowers the youth and helps them become a responsible citizen.<span>Shri Gautam Adani<br>Chairman| Adani Group</span></blockquote>
                </div>
                <div class="main-info">
                    <h1>Adani University</h1>
                    <p>With a vision to educate and empower the youth, to encourage transformative research that focuses on real-world problems, and to contribute to global sustainability via excellence at all levels, the Adani Group – one of India’s largest transport and utility infrastructure conglomerates with inspiration from the infrastructure and visionaries of India – Shri Gautambhai Adani and Smt. Pritiben Adani – has established the Adani University in the enterprising State of Gujarat in India.</p>
                    
                    <p>With major thrust on education for transformation, Adani University will be engaged in building state-of-the-art futuristic institution for education, training and research that shall disseminate managerial and technological knowledge of the highest value through impactful industry engagement and multidisciplinary research.</p>
                    
                    <p>Five thrust areas, namely Infrastructure, Technology, Healthcare, Energy and Defense, will be the focus of university programmes, while the approach will be broad and complementary. Adani University will be a research-intensive institution that seeks to address and impact real-world problems. Research, formal and non-formal programmes for doctoral, under-graduate and post-graduate degrees and certification programmes, at the intersection of disciplines, will be offered at the University.</p>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>    
    </body>
</html>