nav,
header,
footer{
    display: block;
}

body{
    background-image: linear-gradient(to right, #0B74B0, #75479C, #BD3861);
    line-height: 1;
    margin: 0;
    font-family: "Roboto";
    overflow-x: hidden;
}

.body{
    background-color: whitesmoke;
    opacity:.8;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

h3{
    font-size: 25px;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 3333%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.container{
    width: 100%;
    margin: auto;
    padding-top:4%;
    padding-bottom: 6%;
}

.row{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display:table;
    clear: both;
    content:"";
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  background-color: #A5AEB5;
    color:#fff;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.defaultimg img{
    max-width: 700px;
    padding-top: 40px;
    padding-left: 400px;
    padding-bottom: 20px;
}


div.fixed {
  position: fixed;
  width: 15%;
  bottom: 10px;
} 

.fixed a{
    display: block;
}

li{
    list-style:none;
    display: inline-block;
    margin: 3px 5px;
    border-radius: 50%;
    color: #818181;
}

h4{
    font-size: 20px;
}

.intro{
    top: 50%;
    left: 50%;
    padding-left: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}

.intro button{
    width: 200px;
    height: 100px;
    font-size: 16px;
    margin-right: 60px;
    border-radius: 8px;
    border-color: white;
    text-decoration: none;
    border-spacing: 2px;
}
.intro a{
    color: black;
    text-decoration: none;
}

.intro a:hover{
    color: white;
    text-decoration: none;
}
.intro button:hover{
    background-image:linear-gradient(to right, #0B74B0, #75479C, #BD3861); 
    color: white;
}
.intro1{
    padding: 30px;
}

.intro1 p{
    color: #666;
    font-size: 14px;
}

.intro2{
    padding: 30px;
}
.col-6 li{
    font-size: 14px;
    display: list-item;
}

.col-6 p{
    text-decoration: underline;
    text-emphasis: bold;
    font-size: 16px;
}

div.sec-1 p{
    font-size: 14px;
    padding-bottom: 10px;
}

div.sec-2 p{
    font-size: 14px;
    padding-bottom: 10px;
}

div.sec-3{
    font-size: 14px;
    padding-bottom: 50px;
}

#project-odd{
    background-color: #c9c6c5;
    color: black;
    padding-left: 5px;
}

.odd p{
    padding-left: 20px;
}

#project-even{
    align-content: right;
    background-color: white;
    color: black;
}

.even{
    text-align: right;
}

.collapsible {
  background-color: #c9c6c5;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media screen and (max-width:680px){
    .main{
        margin-left: 100px;
    }
    .sidenav {
      padding-top: 15px;
      width: 100px;
    }
  .sidenav a {font-size: 10px;}
    
    .defaultimg img{
        max-width: 650px;
        padding-left: 0;
    }
    .video{
        display: none;
    }
    .intro{
        padding-left: 0;
    }
}

